@page "/db"
@using CB.Shared
@inject HttpClient Http
<h1>DB</h1>

<p>This component demonstrates fetching data from the server.</p>
@*<InputCheckbox @bind-="dBLinks"></InputCheckbox>*@
@if (dBLinks == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>DB</th>
                <th>IP</th>
                <th>UserName</th>
                <th>PWD</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in dBLinks)
            {
                <tr>
                    <td>@forecast.Name</td>
                    <td>@forecast.DBName</td>
                    <td>@forecast.IP</td>
                    <td>@forecast.UserName</td>
                    <td>@forecast.PWD</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    DBLink[] dBLinks;
    DBLink SelectDBLink = new DBLink { Name = "aaaaa" };
    protected override async Task OnInitAsync()
    {
        dBLinks = await Http.GetJsonAsync<DBLink[]>("dbsettings");
    }
}
